body{
	font-size: 12px;
	background-color:rgba(0,0,220,0.5);
}
.wrapper{
	width: 740px;
	margin: 0 auto;
	background-color: white;
	border-radius: 50px;
	margin-bottom: 30px;
}
.image{
	width: 180px;
	height: 76px;
    float: left;
}

.register{
	float: right;
	color: red;
	text-decoration: none;
	margin-right:15px; 
}
.collect{
	float: right;
	color: red;
	text-decoration: none;
}
.entry{
	float: right;
	color: red;
	text-decoration: none;
	margin-right:15px;
}
table{
	margin: 0 auto;
	width: 650px;
	border-collapse: collapse;
	border-color: gray;
}
.caption{
	font-size: 18px;
	font-weight: bold;
    text-align: center;
    height:50px;
}
.head{
	color: rgb(0, 51, 153);
	font-size: 13px;
	font-weight: bold;
	line-height: 150%;
}
.content{
	text-align: center;
	line-height: 150%;
}
.Hright{
	text-align: right;
}
.center{
	text-align: center;
	height:100px;
}
.star{
	 color:#FF0000
}
.ffstar{
	color: #0000FF;
}
