/*css样式*/
*{
	margin: 0;
	padding: 0;
	*margin: 0;
	*padding: 0;
}
.content{
	width: 600px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	*width: 600px;
	*margin: auto;
	*margin-top: 100px;
	*text-align: center;

}
.content h2{
	margin-bottom: 30px;
	color: rgb(210, 0, 255);
	*margin-bottom: 30px;
	*color: rgb(210, 0, 255);
}
.content table{
	width: 450px;
	height: 250px;
	margin: auto;
	padding:10px;
	background-color: #CDCDCD;
	*width: 450px;
	*height: 250px;
	*margin: auto;
	*background-color: #CDCDCD;
	
}
#inputText{
	width: 420px;
	height: 20px;
	margin-top: 10px;
	text-align: right;
	font-size: 20px;
	padding: 10px 0;
	color: blue;
	*width: 420px;
	*height: 20px;
	*margin-top: 10px;
	*text-align: right;
	*font-size: 20px;
	*padding: 10px 0;
	*color: blue;
	
}
table tr td{
	text-align: center;
	*text-align: center;
}
table tr td button{
    width: 70px;
    height: 40px;
    font-size: 20px;
    background-color:rgb(195, 164, 232);
    border: none;
    *width: 70px;
    *height: 40px;
    *font-size: 20px;
    *background-color:rgb(195, 164, 232);
    *border: none;

}
#inputResult{
	width: 140px;
	*width: 140px;
}