*{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
a{
	color: #333;
	text-decoration: none;
}
nav p{

	font-size: 25px;
}
.add{
	display: none;
	width: 300px;
	height: 150px;
	padding-top: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translateX(-150px);
	z-index: 100;
}

table{
    border:1px solid #999;
    border-collapse: collapse;
    text-align: center;
}
table tr td{
	border:1px solid #999;
	height: 30px;
}
#btn{
	margin-top: -20px;
	float: left;
}
#btn .btn{
	border-radius: 0;
	background-color: #ddd;
}
#button{
    width: 60px;
    margin: 0 auto;
}
#button .btn{
	border-radius: 0;
	background-color: #999;
	border-style: none;
}
#butt{
	margin-top: -20px;
}
