*{
   margin: 0;
   padding:0;
}
body{
	font-size: 13px;
}
.container{
	margin: 0;
	padding: 0;
	
}
nav a{
	text-decoration: none;
}
.nav{
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #ECDADA;
	position: relative;
	overflow: hidden;
}
.nav-logo{
	display: inline-block;
	width: 200px;
	height: 100%;
    background: url(../image/logo.png) no-repeat;
}
.nav-set{
	display: inline-block;
	font-size: 15px;
	width: 42px;
	height: 40px;
	margin-top: 10px;
	background-color: green;
    text-align: center;
    position: absolute;
    float: left;
    
} 
.set-content{
	color: #fff;
}
.nav-weathe{
	display: inline-block;
	width: 150px;
	height: 60px;
    color: #999;
    position: absolute;
    float: left;
    line-height: 60px;
    margin-left: 42px;
    text-align: center;
}
.weathe-logo{
	display: inline-block;
	width: 45px;
	height: 30px;
	background: url(../image/logo_nav.png) 0 -146px no-repeat;
}
.nav-date{
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 60px;
	line-height: 60px;
	margin-left: 200px;
	color: #999;
}
.nav-luck{
	display: inline-block;
	position: absolute;
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	margin-left: 290px;
	color: #999;
}
.nav-bar{
	display: inline-block;
	position: relative;
	float: right;
	width: 500px;
	height: 60px;
	line-height: 60px;
}
.nav-bar a{
	display: inline-block;
	width: 50px;
	height: 60px;
	color: #999;
}
.nav-logo-right{
	float: right;
	position: relative;
	width: 200px;
	height: 60px;
    background: url(../image/logo_right.png) no-repeat;	
}
.asign-logo{
	display: inline-block;
	width: 35px;
	height: 20px;
	background: url(../image/logo_nav.png) 0 -115px no-repeat;
}
.email-logo{
	display: inline-block;
	width: 35px;
	height: 20px;
	background: url(../image/logo_nav.png) 0 -80px no-repeat;
}
.saf-logo{
	display: inline-block;
	width: 35px;
	height: 20px;
	background: url(../image/logo_nav.png) 0 -45px no-repeat;
}
.change-logo{
	display: inline-block;
	width: 35px;
	height: 20px;
	background: url(../image/logo_nav.png) 0 -11px no-repeat;
}
header{
	width: 100%;
	height: 200px;
	position: relative;

}
.head{
	width: 850px;
	height: 130px;
	margin: 0 auto;
}
.baidu-logo{
	background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/gy/GB/tZ/y3/-e/2/index_widthlg.png) -10px -212px no-repeat;
	width: 120px;
	height: 40px;
    display: inline-block;
    
    margin-top: 50px;
    position: absolute;
    
}
.input-text{
	width:690px;
	height:44px;
	margin-top: 45px;
	margin-left: 160px;
	display: inline-block;
	vertical-align: middle;
}
.input{
	width: 549px;
	height: 44px;
	border-right-width: 0;
	border: 1px solid #999;
	margin-right: -8px;
	text-indent: 60px;
}
.btn{
	width: 140px;
	height: 46px;
	font-weight: bold;
}
.input-web{
	color: #999;
	position: absolute;
	margin-left: 5px;
	margin-top: 16px;
}
.input-left{
	display: inline-block;
	position: absolute;
	width: 9px;
	height: 6px;
	margin-left: 40px;
	margin-top: 22px;
	background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/gy/GB/tZ/y3/-e/2/index_widthlg.png) -52px -97px no-repeat;
}
.input-left:hover{
	display: inline-block;
	position: absolute;
	width: 9px;
	height: 6px;
	margin-left: 40px;
	margin-top: 22px;
	background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/gy/GB/tZ/y3/-e/2/index_widthlg.png) -52px -105px no-repeat;
	cursor: pointer;
}
.head-foot{
	text-align: center;
	margin-top: 10px;
}
.search{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/gy/GB/tZ/y3/-e/2/index_widthlg.png) -159px -260px no-repeat;
}
.head-foot a{
	color: #999;
	text-decoration: none;
	margin-left: 15px;
}
.head-foot a:hover{
    text-decoration: underline;
}
.header-nav{
	width: 1100px;
	height: 50px;
	font-size: 18px;
	color: #444;
	margin: 20px auto;
	text-align: center;
	border-top: 2px solid rgb(77, 184, 77);
	background-color: #fff;
	overflow: hidden;
	padding: 0;

}
.header-nav table{
	margin-top: -2px;
	margin-left: -2px;

}
.header-nav table tr td{
	width: 100px;
	height: 55px;
	text-align: center;
	
}
.header-nav table tr td a{
	color: #333;
	text-decoration: none;
}
.header-nav table tr td a:hover{
	color: rgb(77, 184, 77);
}
.header-nav .first-web{
	background-color: rgb(77, 184, 77);
	color: white;
}
.header-nav .first-web a{
	color: white;
}
 .header-nav .first-web a:hover{
	color: white;
}

.content{
	width: 1100px;
	margin-top: 20px;
	font-size: 16px;
	margin: 0 auto;
	border: 1px solid rgb(77, 184, 77);
	background-color: #fff;
	position: relative;
}
.content .content-header{
	width: 1000px;
    margin: 0 auto;
}
.content .content-header a{
	text-decoration: none;
	color: #333;
}
.content .content-header a:hover{
	color: orange;
	text-decoration: underline;
}
.content table tr td{
	width: 160px;
	height: 40px;
	border-style: none;
	text-align: left;
	background-color: #fff;
	margin: 0 auto;
}
.baidu_logo{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
	margin-right: 10px;
	background: url(https://gss3.bdstatic.com/5bVXsj_p_tVS5dKfpU_Y_D3/urlicon/7656.png);
}
.setting{
	width: 33px;
	height: 33px;
	position: absolute;
	display: block;
    right: 0;
    top: 0;
    cursor: pointer;
	background: url(https://gss1.bdstatic.com/5eN1dDebRNRTm2_p8IuM_a/v5/gy/GB/tZ/y3/-e/2/index_widthlg.png) -316px -128px no-repeat;
}
.line{
	color: #999;
}
.content .content-section{
	width: 1000px;
    margin: 0 auto;
}
.content .content-section a{
	text-decoration: none;
	color: #333;
}
.content .content-section a:hover{
	color: orange;
	text-decoration: underline;
}

.content .content-section .content-footer a{
	color: green;
}
.content-middle{
	text-align: center;
	margin: 20px 0 20px 0;
	font-size: 15px;
}
.content-middle a{
	text-decoration: none;
    color: rgb(65, 70, 163);
    margin-right: 20px;
}
.content-middle a:hover{
    text-decoration: underline;
}
.content-footer{
	width: 1100px;
	margin-top: 20px;
	font-size: 16px;
	margin: 0 auto;
	border: 1px solid #999;
	background-color: #fff;
	position: relative;
}
#content-footer{
	border: 1px solid #999;
}
.footer{
	height: 60px;
	text-align: center;
	padding-top:20px;
	font-size: 15px;

}
.footer a{
	color: #666;
	text-decoration: none;
	margin-right: 20px;

}
.mainone{
	padding: 0;
	margin: 0;
	background-color: rgb(37, 37, 61);
}
.maintwo{
	padding: 0;
	margin: 0;
	background-color: rgb(144, 33, 46);
}