.logo_nav{ background:url("logo_nav.png") top left no-repeat; }
.image_r2_c10{ width:22px; height:25px; background-position:-10px -10px; }
.image_r2_c8{ width:21px; height:25px; background-position:-10px -45px; }
.image_r2_c6{ width:21px; height:25px; background-position:-10px -80px; }
.image_r2_c4{ width:20px; height:25px; background-position:-10px -115px; }
.image_r2_c2{ width:28px; height:25px; background-position:-10px -150px; }

